<div class="row">
    <a (click)='handleAdd($event);' class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <a (click)='handleClear($event);' class="btn-floating btn-large waves-effect waves-light black right"><i class="material-icons">clear</i></a>
  </div>


<div class="row">

    <div *ngFor="let PaceForm of PaceForms">
        <app-form-item
          [inputModel]="PaceForm"
          [showKilometers]="showKilometers"
          [showMiles]="showMiles"
          ></app-form-item>
    </div>
</div>

<div class="row">
  <pre>{{PaceForms | json}}</pre>
</div>
