<div class="col">
    <a (click)="toggleRun();" id="runToggle" class="teal lighten-3 waves-effect waves-light btn-large"><i class="material-icons left">directions_run</i>RUN</a>
</div>

<div class="col">
    <a (click)="toggleBike();" id="bikeToggle" class="teal lighten-3 waves-effect waves-light btn-large"><i class="material-icons left">directions_bike</i>BIKE</a>
</div>

<div class="col">
    <a (click)="toggleSwim();" id="swimToggle" class="teal lighten-3 waves-effect waves-light btn-large"><i class="material-icons left">water</i>SWIM</a>
</div>

<div class="col s right">
    <a (click)="toggleMiles();" id="mileToggle" class="teal lighten-5 black-text waves-effect waves-light btn-large divider">MI</a>
</div>
<div class="col s right">
  <a (click)="toggleKilometers();" id="kilometerToggle" class="teal lighten-5 black-text waves-effect waves-light btn-large">KM</a>
</div>
