<div class="row">
    <div class="col s1 left">
        <div class="input-field">
          <label>{{inputModel.sportType.toString()}}</label>
        </div>
    </div>
    <div class="col s1 left">
        <div class="input-field">
            <input (change)="handleFormInputChange($event)" [(ngModel)]="inputModel.totalTime.hours" type="number" min="0" oninput="validity.valid||(value='');" placeholder="Hrs">
        </div>
    </div>

    <div class="col s1 left">
        <div class="input-field">
            <input (change)="handleFormInputChange($event)" [(ngModel)]="inputModel.totalTime.minutes" type="number" min="0" oninput="validity.valid||(value='');" placeholder="Mins">
        </div>
    </div>
    <div class="col s1 left">
        <div class="input-field">
            <input (change)="handleFormInputChange($event)" [(ngModel)]="inputModel.totalTime.seconds" type="number" min="0" oninput="validity.valid||(value='');" placeholder="Secs">
        </div>
    </div>

    <div *ngIf="showMiles" class="col s3 left">
        <div class="input-field">
            <input (change)="handleFormInputChange($event)" id="distance_miles" (change)="inputModel.handleMilesOnChange($event)"  [(ngModel)]="inputModel.distanceMiles" type="number" placeholder="Distance (miles)">
        </div>
    </div>

    <div *ngIf="showKilometers" class="col s3 left">
        <div class="input-field">
            <input (change)="handleFormInputChange($event)" id="distance_kilos" (change)="inputModel.handleKilosOnChange($event)" [(ngModel)]="inputModel.distanceKilos" type="number" placeholder="Distance (kilometers)">
        </div>
    </div>
  </div>
<div class="row">

  <div class="col s1 offset-s1 left">
    <label for="">PACE</label>
  </div>

  <div class="col s5 left">
      <label>{{inputModel.paceMiles.minutes | number:'1.0-0' }} : </label>
      <label>{{ inputModel.paceMiles.seconds | number: '2.0-0' }} min/mi.</label> <br>
      <label for="">{{inputModel.mph | number: '1.1'}} mph</label>
  </div>

  <div class="col s4 left">
    <div class="label">
      <label>{{inputModel.paceKilos.minutes | number: '1.0-0' }} : </label>
      <label>{{ inputModel.paceKilos.seconds | number: '2.0-0' }} min/km.</label> <br>
      <label for="">{{inputModel.kph | number: '1.1'}} kph</label>

    </div>
  </div>
</div>


<!-- <div class="row">
  <pre>{{inputModel | json}}</pre>
</div> -->

<hr>
<!-- Summary            miles           km
---  Pace               6:00 min/mi
--- Total Distance      3.12mi        5km
--- 1 mile == 1.60934 km
-->
