<div class="row">
    <div class="col s1 left">
        <div class="input-field">
          <label>{{inputModel.sportType.toString()}}</label>
        </div>
    </div>
    <div class="col s1 left">
        <div class="input-field">
            <input type="text" placeholder="Hrs">
        </div>
    </div>

    <div class="col s1 left">
        <div class="input-field">
            <input type="text" placeholder="Mins">
        </div>
    </div>
    <div class="col s1 left">
        <div class="input-field">
            <input type="text" placeholder="Secs">
        </div>
    </div>

    <div *ngIf="showMiles" class="col s3 left">
        <div class="input-field">
            <input type="text" placeholder="Distance (miles)">
        </div>
    </div>

    <div *ngIf="showKilometers" class="col s3 left">
        <div class="input-field">
            <input type="text" placeholder="Distance (kilometers)">
        </div>
    </div>
</div>
<hr>
<!-- Summary            miles           km
---  Pace               6:00 min/mi
--- Total Distance      3.12mi        5km
--- 1 mile == 1.60934 km
-->
