<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">PACE</a>
  </div>
</nav>

<br>

<div class="container">

  <!-- component - buttons for picking what forms user wants to see -->
  <div class="row">
    <app-nav-bar></app-nav-bar>
  </div>


  <div class="row">
    <div (change)="handleFormChangeTotalResult()" *ngFor="let form of inputModels">
        <app-form-item [form]="form"></app-form-item>
    </div>
</div>

<div *ngIf="inputModels.length > 0">
  <hr>
  <hr>
  <app-result [title]="resultTitle" [model]="totalResultModel"></app-result>
</div>
</div>



