<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">PACE</a>
  </div>
</nav>

<br>

<div class="container">

  <!-- component - buttons for picking what forms user wants to see -->
    <!-- TODO: input/output property that binds to forms in order to hide/show diff forms for pacing-->
  <div class="row">
    <app-pace-sport-type (runIsToggled)='runIsToggled' (bikeIsToggled)='bikeIsToggled' (swimIsToggled)='swimIsToggled'></app-pace-sport-type>
  </div>


  <div class="row">
    <app-common-form></app-common-form>
  </div>

  <hr>

  <!-- TODO: Run Form Component -->
<app-run-form *ngIf='runIsToggled'></app-run-form>
  <!-- TODO: Bike Form Component -->
  <app-bike-form *ngIf='bikeIsToggled'></app-bike-form>
  <!-- TODO: Swim Form Component -->
<app-swim-form *ngIf='swimIsToggled'></app-swim-form>
</div>
